* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-open;
  font-size: 1rem;
  color: $black-col;
  background-color: $white-col;
  font-weight: normal;
  line-height: 1.6;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $link-col;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  vertical-align: middle;
}

.svg-img {
  width: 0.9rem;
}

ul {
  list-style: none;
}
