// font family
$font-family-open: 'Open Sans', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

// designer shared colors
// Navigation Pane : #2d3e50
$primary-col: #2d3e50;

// Interaction color: #457b9d
$secondary-col: #457b9d;

// Input field bg color : #f8f8f8
$input-bg-col: #f8f8f8;

// Input field bottom line : #d3d3d3
$input-border-col: #d3d3d3;

// Grid Header Bg : #ebebeb
$table-prime-col: #ebebeb;

// Grid divider line : #e1e1e1
$table-border-col: #ebebeb;

// Grid fixed column bg: #f8f8f8
$table-secondary-col: #ebebeb;

// yeelow circle : #ffbf00
$yellow-col: #ffbf00;
// green circle : #00cc00
$green-col: #00cc00;
// red circle : #e63946
$red-col: #e63946;

// helper colors
$white-col: #fff;
$black-col: #000;

$link-col: #4e83a3;

$outline-col: #507fa6;

$silent-text-col: #888;
