.latest-prodct {
  font-size: 1rem;
  margin: 1rem 0;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    width: 15rem;
    padding: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 1px 1px rgba(136, 136, 136, 0.438);
    .card-head {
      img {
        width: 100%;
      }
    }

    .card-body {
      padding: 0.5rem;
    }
  }
}
